@media screen and (max-width: 768px){    
    body {
        padding: 10px; 
    }

   
    header {
        flex-direction: column; 
        padding: 15px 10px;
        align-items: center; 
    }

    
    #logo-and-title-container {
        flex-direction: row; 
        gap: 10px; 
        margin-bottom: 15px;
    }

  
    .logo {
        width: 40px; 

    }

    #title {     
        line-height: 1.2;
        text-align: center;
    }

    h1 {
        font-size: 1.8em;
        margin: 5px 0;
    }

    
    ul {
        text-align: center; 
        padding: 0; 
        width: 100%; 
        margin-top: 15px; 
    }

    
    li {
        margin: 10px 0; 
        display: block; 
    }

    
    a {
        padding: 8px 0;
        display: block;
    }

    
    #faca-orcamento-btn {
        width: auto; 
        margin-top: 15px;
        padding: 8px 18px; 
    }

    
    main {
        flex-direction: column; 
        align-items: center; 
        margin-top: 30px; 
    }

  
    h2 {
        font-size: 38px; 
        line-height: 1.2; 
        text-align: center;
    }

   
    p {
        max-width: 90%; 
        text-align: center; 
        margin-left: auto;
        margin-right: auto; 
    }

 
    .card-visita {
        width: 90%; 
        margin: 20px auto;
    }

    #subtext-orcamento{
        font-size: 38px; 
        line-height: 1.2; 
        text-align: center;
    }

   
    section {
        padding: 30px 20px; 
        width: 100%; 
    }

}