    body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

span{
    color: rgb(239,191,4);
}

#title{
    display: flex; 
    flex-direction: column;
    line-height: 0;
}

.logo{
    width: 50px;
    height: auto;
}

#logo-and-title-container {
    display: flex; 
    align-items: center;
    gap: 10px; 
}

ul{
    display: flex;
    justify-self: center;
    padding-right: 50px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 30px;
    line-height: 10px;
    font-family: poppinsmedium;
}

.whatsapp-sem-fundo{
    display: flex;
    width: 30px;
    padding-left: 10px;
}

article{
    display: flex;
    justify-content: center;
}

a{
    color: white;
}

a:hover{
    color: rgb(100, 210, 107);
    transition: 0.3s all;
}

#link-contato{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(100, 210, 107);
    padding: 10px;
    border-radius: 20px;
}

#link-contato:hover{
    background-color: rgb(100, 210, 107);
    color: white;
}

.qr-code-whattsapp{
    border: 3px solid black;
    border-radius: 20px;
    width: 300px;
    margin-top: 40px;
}
