<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/orcamento.css">
    <title>Contato</title>
</head>
<body>
    <header>
        <div id="logo-and-title-container">
            <img src="./images/Escuro-removebg-preview.png" alt="logo-design" class="logo">
            <div id="title">
                <h1>Gabriel S.A</h1>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <header>
                <h2><span>Entre em contato conosco e solicite seu orçamento através do QR Code</span></h2>
                <img src="./images/whatsapp-sem-fundo-removebg-preview.png" alt="whatsapp-sem-fundo" class="whatsapp-sem-fundo">
            </header>    
        </aside>
    </main>

    <article>
        <img src="./images/meu qr code 1.png" alt="qr-code" class="qr-code-whattsapp">
    </article>

</body>

</html>